@charset "utf-8";


html { 
  font-size: 62.5%;

}


.fs12{line-height: 1.6; font-size:1.2rem;}
.fs18{line-height: 1.6; font-size:1.8rem;}
.fs20{line-height: 1.6; font-size:2.0rem;}
.fs30{line-height: 1.6; font-size:3.0rem;}
.fs40{line-height: 1.6; font-size:4.0rem;}
.fs50{line-height: 1.6; font-size:5.0rem;}
.fs60{line-height: 1.6; font-size:6.0rem;}
.fs80{line-height: 1.6; font-size:8.0rem;}
.fs100{line-height: 1.6; font-size:10.0rem;}


.m10{margin-top:1.0rem;}
.m20{margin-top:2.0rem;}
.m30{margin-top:3.0rem;}
.m50{margin-top:5.0rem;}
.m60{margin-top:6.0rem;}
.m100{margin-top:10.0rem;}
.m150{margin-top:15.0rem;}

.p0{padding-top: 0;}
.p10{padding-top:1.0rem;}
.p30{padding-top:3.0rem;}
.pb20{padding-bottom:2rem;}
.pb30{padding-bottom:3rem;}

.w100{width: 100%;}

.bld{font-weight: 800;}

.red{color:#DE2024;}
.yellow{color:#ffff00;}
.wt{color: #ffffff;}
.gray{color: #adadad;}

.center{
	/* display:block; */
	text-align:center;
}
.left{text-align: left;}
.br20{border-radius: 2rem;}


.lh1{line-height:1!important;}
.lh11{line-height:1.1!important;}
.lh12{line-height:1.2!important;}
.area-p5{padding: 0.5rem;}
.area-p10{padding: 1rem;}
.area-p20{padding: 2rem;}
.area-p30{padding: 3rem;}
.area-p40{padding: 4rem;}

  .ylshadow2 {
	text-shadow    : 
		 2px  2px 4px #FDEC98,
		-2px  2px 4px #FDEC98,
		 2px -2px 4px #FDEC98,
		-2px -2px 4px #FDEC98,
		 2px  0px 4px #FDEC98,
		 0px  2px 4px #FDEC98,
		-2px  0px 4px #FDEC98,
		 0px -2px 4px #FDEC98;        /* 文字の影 */
  }
  .rdshadow2 {
	text-shadow    : 
		 2px  2px 7px #db3102,
		-2px  2px 7px #db3102,
		 2px -2px 7px #db3102,
		-2px -2px 7px #db3102,
		 2px  0px 7px #db3102,
		 0px  2px 7px #db3102,
		-2px  0px 7px #db3102,
		 0px -2px 7px #db3102;        /* 文字の影 */
  }


.mincho4{
	font-family: 'Noto Serif JP', sans-serif;
	font-weight:900;
}
