 @media screen and (max-width: 480px) {
.fs12{line-height:1.5; font-size:1.2rem;}
.fs18{line-height:1.5; font-size:1.5rem;}
.fs20{line-height:1.5; font-size:1.7rem;}
.fs30{line-height:1.5; font-size:2rem;}
.fs40{line-height:1.5; font-size:2.5rem;}
.fs50{line-height:1.5; font-size:3rem;}
.fs60{line-height:1.5; font-size:3.2rem;}
.fs80{line-height:1.5; font-size:4rem;}
.fs100 {line-height:1.5; font-size:5rem;}
.m10{margin-top:0.5rem;}
.m20{margin-top:1.0rem;}
.m30{margin-top:1.0rem;}
.m50{margin-top:2.0rem;}
.m60{margin-top:3.0rem;}
.m150{margin-top:7.0rem;}

.p0{padding-top: 0;}
.p10{padding-top:0.5rem;}
.p30{padding-top:1rem;}
.pb20{padding-bottom:1rem;}
.pb30{padding-bottom:1rem;}

/* .w100{width: 100%;}
.w95{width: 98%;}
.w90{width: 95%;}
.w80{width: 90%;} */
.area-p5{padding: 0.2rem;}
.area-p10{padding: 0.5rem;}
.area-p20{padding: 0.7rem;}
.area-p30{padding: 1rem;}
.area-p40{padding: 1.2rem;}


 }
