@charset "utf-8";


 @media screen and (max-width: 768px) {

  body,p,span,div,img{
      margin:0;
      padding:0;
  	border:none;
  	outline:none;
  }


/* iOSでのデフォルトスタイルをリセット */
input[type="submit"]::focus,
input[type="button"]::focus {
  outline-offset: -2px;
}



*{
	margin:0;
	padding:0;
}

/*html {
    font-size: 100%;
  }*/

body{
	font-weight: normal;
	font-size: 1.6rem;
	line-height: 1.8;
	position: relative;
/*	background-color: #000000;
*/}



img.img100{width: 100%;}
img.w100{width: 100%;}



/*br{display: none;}*/
br.pb{display: none;}
br.sb{display: block;}





#header {
	width: 100%;
	height: auto;
/*	min-height: 100vh;*/
	margin: 0 auto;
	text-align: center;
}




.area-main{
	width:98%;
	z-index: 4;
}



p{
	padding-top:4.8rem;
}




.footer{
	width: 100%;
	margin: 0 auto;
	text-align: center;
}


.footer .copy{
	font-size: 1.3rem;
	color: #dddddd;
	padding: 1rem 0.5rem;
	text-align: center;
}




input[type="email"] {
    /* padding: 1rem 0.5rem; */
	font-size: 1.4rem;
}

